<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SDC.Gen.UI.WPF.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SDC.Gen.UI.WPF.MySettings.PERC_eCC_Con" connectionString="Data Source=PappeCC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--connectionString="Data Source=uappecc;Integrated Security=True"-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.26.0" newVersion="4.2.26.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SDC.Gen.UI.WPF.MySettings>
      <setting name="BrowserPath64" serializeAs="String">
        <value>C:\Program Files (x86)\Mozilla Firefox\firefox.exe</value>
      </setting>
      <setting name="BrowserPath32" serializeAs="String">
        <value>C:\Program Files\Mozilla Firefox\firefox.exe</value>
      </setting>
      <setting name="DataSourceConnectionString" serializeAs="String">
        <value>Data Source=PappeCC;Initial Catalog=PERC_eCC;Integrated Security=True</value>
      </setting>
      <setting name="FilePath" serializeAs="String">
        <value>C:\SDC</value>
      </setting>
      <setting name="XslFileName" serializeAs="String">
        <value>sdctemplate.xslt</value>
      </setting>
      <setting name="SDCfilePath" serializeAs="String">
        <value>C:\SDC</value>
      </setting>
      <setting name="TEpath" serializeAs="String">
        <value>eCC_TE_2.32.adp</value>
      </setting>
    </SDC.Gen.UI.WPF.MySettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>VS2010</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>
