<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SDC.Gen.UI.WPF.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SSPEntities" 
         connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=sdtPRODdb.database.windows.net;initial catalog=SSPPROD;authentication=&quot;Active Directory Integrated&quot;;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="SDC.Gen.UI.WPF.MySettings.SSP_Con" connectionString="Data Source=sdtPRODdb.database.windows.net;Initial Catalog=SSPPROD;Authentication=ActiveDirectoryIntegrated"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--connectionString="Data Source=uappecc;Integrated Security=True"-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.26.0" newVersion="4.2.26.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SDC.Gen.UI.WPF.MySettings>
      <setting name="BrowserPath64" serializeAs="String">
        <value>C:\Program Files (x86)\Mozilla Firefox\firefox.exe</value>
      </setting>
      <setting name="BrowserPath32" serializeAs="String">
        <value>C:\Program Files\Mozilla Firefox\firefox.exe</value>
      </setting>
      <setting name="DataSourceConnectionString" serializeAs="String">
        <value>Data Source=sdtPRODdb.database.windows.net;Initial Catalog=SSPPROD;Authentication=ActiveDirectoryIntegrated</value>
      </setting>
      <setting name="FilePath" serializeAs="String">
        <value>%USERPROFILE%\Desktop\SDC Files</value>
      </setting>
      <setting name="XslFileName" serializeAs="String">
        <value>sdctemplate.xslt</value>
      </setting>
      <setting name="TEpath" serializeAs="String">
        <value>eCC_TE_2.32.adp</value>
      </setting>
    </SDC.Gen.UI.WPF.MySettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>VS2010</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
