<?xml version="1.0"?>
<GeneratorParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NameSpace>SDC</NameSpace>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; SDC &lt;Output file&gt; /p Net45 /classinfiles /rt /rtrange /rtregex /rtstlength /valprop /vprop /if- /uct /expattg /s /encutf8 /xml /ssp /ust /sc /xao /in /Indent1Space /hp /gpsd </CommandLine>
  <Language>CSharp</Language>
  <CollectionObjectType>List</CollectionObjectType>
  <CollectionBase />
  <CustomUsings />
  <GenerateOrderXmlAttributes>true</GenerateOrderXmlAttributes>
  <AttributesToExclude />
  <ExpandNestedAttributeGroup>true</ExpandNestedAttributeGroup>
  <GenerateUnusedComplexType>true</GenerateUnusedComplexType>
  <GenerateUnusedSimpleType>true</GenerateUnusedSimpleType>
  <TargetFramework>Net45</TargetFramework>
  <TrackingChanges />
  <PropertyParams>
    <VirtualProperties>true</VirtualProperties>
    <PrivateFieldCustomPrefix />
  </PropertyParams>
  <ClassParams>
    <ClassNamePrefix />
    <GenerateInSeparateFiles>true</GenerateInSeparateFiles>
    <GenerateInSeparateFilesDirectory />
  </ClassParams>
  <Serialization>
    <Enabled>true</Enabled>
    <EnableEncoding>true</EnableEncoding>
  </Serialization>
  <Miscellaneous>
    <HidePrivateFieldInIde>true</HidePrivateFieldInIde>
    <EnableSummaryComment>true</EnableSummaryComment>
  </Miscellaneous>
  <RestrictionsParams>
    <StringLengthAttribute>true</StringLengthAttribute>
    <RegularExpressionAttribute>true</RegularExpressionAttribute>
    <RangeAttribute>true</RangeAttribute>
    <ValidatePropertyInSetter>true</ValidatePropertyInSetter>
    <Enabled>true</Enabled>
  </RestrictionsParams>
  <GenericBaseClass />
  <InitializeFields>None</InitializeFields>
</GeneratorParams>
