<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{db957704-2f83-4e3f-b10b-1eeab204ec3a}">
        <Id>1</Id>
        <File>SDC.MSTest\UnitTest1.cs</File>
        <Line>40</Line>
        <Character>67</Character>
      </Item>
      <Item Id="{2c2bd7dd-d5ca-467e-9d78-f0d63517879b}">
        <Id>2</Id>
        <File>SDC.MSTest\UnitTest1.cs</File>
        <Line>49</Line>
        <Character>62</Character>
      </Item>
    </Items>
  </Container>
</Containers>