<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SDC.DAL.DataSets.Properties.Settings.PERC_eCC_Con"
      connectionString="Data Source=PappeCC;Initial Catalog=PERC_eCC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SDC.DAL.DataSets.Properties.Settings.PERC_eCC_Con_local"
      connectionString="Data Source=(local);Initial Catalog=PERC_eCC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>