<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SDC.DAL.DataSets.Properties.Settings.SSP_Con" connectionString="Data Source=sdtPRODdb.database.windows.net;Initial Catalog=SSP;Authentication=&quot;Active Directory Integrated&quot;"
      providerName="System.Data.SqlClient" />
    <add name="SDC.DAL.DataSets.Properties.Settings.SSP_Con_local"
      connectionString="Data Source=(local);Initial Catalog=SSP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>