<?xml version="1.0"?>
<GeneratorParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TargetFramework>NetCore</TargetFramework>
  <NameSpace>SDC.Schema2</NameSpace>
  <Language>CSharp</Language>
  <CommandLine>xsd2code.exe &lt;XSD File&gt; SDC.Schema2 &lt;Output file&gt; /p NetCore /classinfiles /classinfilesdir Schema Classes /dbg /db /rt /rtrange /rtregex /rtstlength /valprop /lazy /vprop /if- /cache /s /encutf8 /xml /ssp /gbc /gbcn SdcEntityBase /ggbc /sc /xao /in /Indent2Space /cl </CommandLine>
  <CollectionBase />
  <Properties>
    <LazyLoading>true</LazyLoading>
    <VirtualProperties>true</VirtualProperties>
    <PrivateFieldCustomPrefix />
    <NotifyPropertyChanged>true</NotifyPropertyChanged>
  </Properties>
  <XmlAttribute>
    <Enabled>true</Enabled>
    <GenerateOrderXmlAttributes>true</GenerateOrderXmlAttributes>
  </XmlAttribute>
  <DataAnnotationsAttribute>
    <StringLengthAttribute>true</StringLengthAttribute>
    <RegularExpressionAttribute>true</RegularExpressionAttribute>
    <RangeAttribute>true</RangeAttribute>
    <ValidatePropertyInSetter>true</ValidatePropertyInSetter>
    <Enabled>true</Enabled>
  </DataAnnotationsAttribute>
  <ClassParams>
    <GenerateInSeparateFiles>true</GenerateInSeparateFiles>
    <GenerateInSeparateFilesDirectory>Schema Classes</GenerateInSeparateFilesDirectory>
  </ClassParams>
  <GenericBaseClass>
    <Enabled>true</Enabled>
    <BaseClassName>SdcEntityBase</BaseClassName>
    <GenerateBaseClass>true</GenerateBaseClass>
  </GenericBaseClass>
  <Serialization>
    <Enabled>true</Enabled>
    <EnableEncoding>true</EnableEncoding>
  </Serialization>
  <Miscellaneous>
    <EnableDebug>true</EnableDebug>
    <EnableSummaryComment>true</EnableSummaryComment>
    <CacheExternalSchemas>true</CacheExternalSchemas>
    <CleanupCode>false</CleanupCode>
  </Miscellaneous>
  <GenerateCloneMethod>true</GenerateCloneMethod>
  <InitializeFields>None</InitializeFields>
</GeneratorParams>
