<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XML_Validator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="SchemaFile" value="C:\Users\rmoldwi\Documents\SDC\SDC Git Repo\sdc-schema-package\SDCFormDesign.xsd"/>
    <add key="XML_file" value="C:\SDC\Breast.Bmk.169_1.003.001.CTP3_sdcFDF.xml"/>
  </appSettings>
  <!--<applicationSettings>
    <XML_Validator.Properties.Settings>
      <setting name="SchemaFile" serializeAs="String">
        <value>C:\Users\rmoldwi\Documents\SDC\SDC Git Repo\sdc-schema-package\SDCFormDesign.xsd</value>
      </setting>
      <setting name="XML_file" serializeAs="String">
        <value>C:\SDC\Breast.Bmk.169_1.003.001.CTP3_sdcFDF.xml</value>
      </setting>
    </XML_Validator.Properties.Settings>
  </applicationSettings>-->
</configuration>
